*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 246, 196);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 85%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop{
    padding: 0px 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 100px;
    background-color: rgb(67, 170, 98);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem, h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: rgb(33, 125, 33);
    font-weight: 600;
    font-size: 22px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
}
#pbottom{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100%-100px);

}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(67, 170, 98);
    color: white;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(19, 100, 19);
}